{% extends 'base.html' %}

{% block title %}About {% endblock %}

{% block body %}
<section class="hero ">
    <div class="hero-body">
        <div class="container">
            <section class="section">
                <div class="columns is-variable is-8">
                  <div class="column is-8 is-offset-2">
                        <div class="content is-medium">
                            <h2 class="subtitle is-5 has-text-grey"></h2>
                                <h1 class="title has-text-black is-3">About Blog: </h1>
                                    <p class="has-text-dark">Getting the right amount of truth is what we strive for and work towards 
                                        with our team of experts here at RantsLog🦜💭 Space researching and going far depth to get stories, 
                                        their origin and our thoughts. Thank you for reading!
                                            <hr>
                                            Best Regards,
                                            RantsLog Team.
                                        </p>
                                        
                                     
                                    
                    </div>
                  </div>
                </div>
            </section>
        </div>
    </div>
</section>

{% endblock %}